.home {
	padding: 20px 20px;
	width: 100%;
	background-image: url('https://firebasestorage.googleapis.com/v0/b/colombiancycling-6eec5.appspot.com/o/Background%2Fpexels-matheus-bertelli-1144687.jpg?alt=media&token=fb345069-c2fe-432b-8afd-f912e4b1514a');
	opacity: 0.9;

	&__title {
		text-align: center;
		margin-bottom: 5px;
		font-size: 1.3em;
		color: white;
	}
}
